<?xml version="1.0" encoding="UTF-8"?><config>
<database>
	<persitence_unit>JAHAP</persitence_unit>
        <database_url>jdbc:postgresql://localhost:5432/JAHAPs</database_url>
        <database_type>postgres</database_type>
        <database_path>C:\Users\russ\Desktop\PostgreSQLPortable-9.3</database_path>
</database>
</config>
